* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 100%);
	color: rgb(83, 83, 83);
	padding: 1em;
	margin-bottom: 2em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

body {
	background-color:rgb(48, 48, 48);
}

footer {
	background-color: rgba(65, 65, 65, 1);
	position: fixed;
	padding: 1em;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

h1 {
	text-align: center;
	font-family: objektiv-mk1, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-family: objektiv-mk1, sans-serif;
	font-weight: 700;
	font-style: normal;
}

p {
	font-family: objektiv-mk1, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.collection_intro {
	margin-top: 6em;
	color: rgb(155, 155, 155);
	text-align: center;
}

.cardcollection {
	display: grid;
	grid-template: auto / repeat(2, 1fr);
	grid-auto-flow: row;
	gap: 1em;
	margin: 5rem auto;
	margin-top: 3em;
	width: min(95%, 120rem);
	background-color: rgba(212, 44, 44, 0);
}

.questioncard {
	margin: 1em;
	/*min-height: 4em;*/
	background-color: rgb(0, 0, 0, 0.2);
}

.questioncard, .questioncard > * {
	border-radius: .75rem;
}

/*
.questioncard > * {
	padding: 2.5em;
}
*/

/*Question Card Grids*/
.q_pyramid, .q_hagfish, .q_moon, .q_citybuilding, .q_comododragon, .q_deepocean, .q_oldtree, .q_raremineral {	
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(10, 1fr);
	min-height: 15em;
	min-width: 15em;
	max-width: 30em;
	margin: auto;
}


/*Card Pyramid and content*/
.q_pyramid {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(191,191,183,1) 8%, rgba(191,212,223,1) 30%, rgba(96,176,207,1) 75%, rgba(0,139,191,1) 100%);
}

.text_pyramid {
	grid-area: 2 / 2 / span 6 / span 4;
	z-index: 5;
	color: #fff;
}

.text_pyramid > p {
	padding-top: 0.75rem;
	font-size: 0.75rem;
	line-height: 1.3;
}

.pyramid_front {
	background: linear-gradient(0deg, rgba(192,158,119,1) 0%, rgba(224,207,184,1) 13%, rgba(198,204,200,1) 25%, rgba(147,128,103,1) 70%, rgba(135,103,92,1) 100%);
	grid-area: 3 / 2 / span 6 / span 6;
	clip-path: polygon(70% 0%, 0% 100%, 100% 100%);
	z-index: 4;
}

.pyramid_front_shadow {
	background: linear-gradient(0deg, rgba(192,158,119,1) 0%, rgba(192,180,185,1) 8%, rgba(170,187,197,1) 20%, rgba(88,84,98,1) 71%, rgba(105,74,80,1) 100%);
	grid-area: 3 / 2 / span 8 / span 8;
	clip-path: polygon(52.6% 0%, 0% 100%, 100% 100%);
	z-index: 3;
}

.pyramid_back {
	background: linear-gradient(0deg, rgba(185,204,215,1) 0%, rgba(185,204,215,1) 20%, rgba(139,133,155,1) 70%, rgba(126,122,142,1) 100%);
	grid-area: 3 / 5 / span 3 / span 4;
	clip-path: polygon(70% 13%, 0% 100%, 100% 100%);
	z-index: 2;
}

.pyramid_back_shadow {
	background: linear-gradient(0deg, rgba(185,204,215,1) 0%, rgba(185,204,215,1) 20%, rgba(110,103,129,1) 71%, rgba(116,122,142,1) 100%);
	grid-area: 3 / 5 / span 3 / span 6;
	clip-path: polygon(46.7% 13%, 0% 100%, 100% 100%);
	z-index: 1;
}


/*Card Hagfish and content*/
.q_hagfish {
	background: linear-gradient(0deg, rgba(27,82,61,1) 0%, rgba(36,71,57,1) 15%, rgba(41,64,54,1) 30%, rgba(20,79,56,1) 73%, rgba(0,94,58,1) 100%);
}

.text_hagfish {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #bffff4;
}


/*Card Moon and content*/
.q_moon {
	background: linear-gradient(0deg, rgba(83,120,140,1) 0%, rgba(39,82,102,1) 25%, rgba(6,55,74,1) 65%, rgba(0,50,69,1) 100%);
}

.text_moon {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #fff;
}


/*Card City building and content*/
.q_citybuilding {
	background: linear-gradient(0deg, rgba(242,149,56,1) 0%, rgba(242,149,56,1) 15%, rgba(209,91,0,1) 40%, rgba(143,0,101,1) 100%);
}

.text_citybuilding {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #fff6d4;
}


/*Card Comodo dragon and content*/
.q_comododragon {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(114,121,99,1) 15%, rgba(87,105,85,1) 30%, rgba(83,107,69,1) 65%, rgba(74,110,35,1) 100%);
}

.text_comododragon {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #fff;
}


/*Card Deep Ocean and content*/
.q_deepocean {
	background: linear-gradient(0deg, rgba(59,58,74,1) 0%, rgba(28,48,61,1) 30%, rgba(23,46,59,1) 42%, rgba(22,46,59,1) 53%, rgba(13,86,115,1) 80%, rgba(0,139,191,1) 100%);
}

.text_deepocean {
	grid-area: 5 / 3 / span 4 / span 6;
	text-align: center;
	z-index: 5;
	color: #b9c0ed;
}

.text_deepocean > p {
	padding-top: 0.4rem;
	font-size: 0.75rem;
	line-height: 1.3;
}

.oceanrocks {
	background: #07161c;
	grid-area: 1 / 1 / span 6 / span 10;
	clip-path: polygon(26% 74%, 32% 100%, 42% 100%, 47% 69%, 49% 41%, 54% 21%, 57% 20%, 63% 33%, 72% 42%, 82% 37%, 90% 34%, 96% 18%, 100% 16%, 100% 100%, 0 100%, 0 15%, 5% 18%, 15% 13%, 22% 25%, 27% 58%);
}


/*Card Oldest Tree and content*/
.q_oldtree {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(191,191,183,1) 28%, rgba(191,212,223,1) 40%, rgba(96,176,207,1) 75%, rgba(0,139,191,1) 100%);
}

.text_oldtree {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #fff;
}


/*Card Rarest Mineral and content*/
.q_raremineral {
	background: linear-gradient(0deg, rgba(212,203,199,1) 0%, rgba(233,240,242,1) 100%);
}

.text_raremineral {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: #808080;
}


footer p {
	text-align: center;
}


/*Media queries*/
@media screen and (max-width: 700px) {
	.cardcollection {
		grid-template: auto / repeat(1, 1fr);
	}
}


/*To remember fonts: Odor Mean Chey (Google fonts), Odibee Sans (Google fonts)*/