* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 100%);
	color: rgb(83, 83, 83);
	padding: 1em;
	margin-bottom: 2em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

body {
	background-color:rgb(48, 48, 48);
}

footer {
	background-color: rgba(65, 65, 65, 1);
	position: fixed;
	padding: 1em;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

h1 {
	text-align: center;
}

.collection_intro {
	margin-top: 6em;
	color: rgb(155, 155, 155);
	text-align: center;
}

.cardcollection {
	display: grid;
	grid-template: auto / repeat(2, 1fr);
	grid-auto-flow: row;
	gap: 1em;
	margin: 5rem auto;
	margin-top: 3em;
	width: min(95%, 120rem);
	background-color: rgba(212, 44, 44, 0);
}

.questioncard {
	margin: 1em;
	/*min-height: 4em;*/
	background-color: rgb(0, 0, 0, 0.2);
}

.questioncard, .questioncard > * {
	border-radius: .75rem;
}

/*
.questioncard > * {
	padding: 2.5em;
}
*/

/*Question Card Grids*/
.q_pyramid, .q_hagfish, .q_moon, .q_citybuilding, .q_comododragon, .q_deepocean, .q_oldtree, .q_raremineral {	
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(10, 1fr);
	min-height: 15em;
	min-width: 15em;
	max-width: 30em;
	margin: auto;
}


/*Card Pyramid and content*/
.q_pyramid {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(191,191,183,1) 8%, rgba(191,212,223,1) 30%, rgba(96,176,207,1) 75%, rgba(0,139,191,1) 100%);
}

.text_pyramid {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}

.text_pyramid h2 {
	color: rgba(255, 255, 255, 1)
}

.pyramid_front {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(224,216,205,1) 13%, rgba(198,204,200,1) 30%, rgba(147,135,119,1) 75%, rgba(135,112,104,1) 100%);
	grid-area: 3 / 2 / span 6 / span 6;
	clip-path: polygon(70% 0%, 0% 100%, 100% 100%);
	z-index: 4;
}

.pyramid_front_shadow {
	background: linear-gradient(0deg, rgba(192,167,138,1) 0%, rgba(192,187,189,1) 8%, rgba(170,187,197,1) 20%, rgba(98,91,97,1) 71%, rgba(105,85,89,1) 100%);
	grid-area: 3 / 2 / span 8 / span 8;
	clip-path: polygon(52.6% 0%, 0% 100%, 100% 100%);
	z-index: 3;
}

.pyramid_back {
	background: linear-gradient(0deg, rgba(185,204,215,1) 0%, rgba(185,204,215,1) 20%, rgba(154,144,155,1) 70%, rgba(133,131,142,1) 100%);
	grid-area: 3 / 5 / span 3 / span 4;
	clip-path: polygon(70% 13%, 0% 100%, 100% 100%);
	z-index: 2;
}

.pyramid_back_shadow {
	background: linear-gradient(0deg, rgba(185,204,215,1) 0%, rgba(185,204,215,1) 20%, rgba(126,116,129,1) 71%, rgba(128,131,142,1) 100%);
	grid-area: 3 / 5 / span 3 / span 6;
	clip-path: polygon(46.7% 13%, 0% 100%, 100% 100%);
	z-index: 1;
}


/*Card Hagfish and content*/
.q_hagfish {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.text_hagfish {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
	color: white; /*Move to P and H2?*/
}


/*Card Moon and content*/
.q_moon {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_moon {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


/*Card City building and content*/
.q_citybuilding {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_citybuilding {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


/*Card Comodo dragon and content*/
.q_comododragon {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_comododragon {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


/*Card Deep Ocean and content*/
.q_deepocean {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_deepocean {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


/*Card Oldest Tree and content*/
.q_oldtree {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_oldtree {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


/*Card Rarest Mineral and content*/
.q_raremineral {
	background-color: rgba(245, 245, 220, 0.267);
}

.text_raremineral {
	grid-area: 1 / 1 / span 6 / span 6;
	z-index: 5;
}


footer p {
	text-align: center;
}


/*Media queries*/
@media screen and (max-width: 700px) {
	.cardcollection {
		grid-template: auto / repeat(1, 1fr);
	}
}


/*To remember fonts: Odor Mean Chey (Google fonts), Odibee Sans (Google fonts)*/